.version.index /* version checker */
{
	color: #000017;
	background-color: #F89212;
}

#page
{
	z-index: 1;
	width: 1136px;
	min-height: 499px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 49px 14px 243px 20px;
}

#menuu176
{
	z-index: 2;
	width: 446px;
	margin-left: 684px;
	position: relative;
}

#u177
{
	width: 222px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u178
{
	width: 222px;
	padding-bottom: 17px;
	position: relative;
}

#u178:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u178:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u180-4
{
	width: 222px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u178:hover #u180-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u178:active #u180-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u184
{
	width: 222px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u185
{
	width: 222px;
	padding-bottom: 17px;
	position: relative;
}

#u178.MuseMenuActive,#u185:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u185:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u185.MuseMenuActive
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u186-4
{
	width: 222px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u178.MuseMenuActive #u180-4,#u185:hover #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u185:active #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u160-4
{
	z-index: 21;
	width: 550px;
	min-height: 64px;
	background-color: transparent;
	line-height: 58px;
	color: #F15A24;
	font-size: 48px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 290px;
	margin-top: 147px;
	position: relative;
}

#pu94
{
	width: 0.01px;
	margin-top: 28px;
}

#u94
{
	z-index: 15;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u118
{
	z-index: 17;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u153
{
	z-index: 19;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 777px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

